{
  email {$ACME_EMAIL:admin@example.com}
}

{$SITE_DOMAIN:localhost} {
  handle_path /api/* {
    uri strip_prefix /api
    reverse_proxy backend:8000
  }

  handle {
    reverse_proxy frontend:80
  }
}
